/* regole di reset e normalizzazione */
/* ------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', 'Raleway', sans-serif;
    letter-spacing: 1px;
    color: #33475B;
}

.container {
    width: 1080px;
    margin: auto;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-size: 46px;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

small {
    display: block;
    width: 210px;
    margin: 10px 0;
}

button {
    background-color: #ff7a59;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    padding: 25px 35px;
}

button:hover {
    background-color: #FFBCAC;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}

.dropdown::after {
    content: " \f0dd";
    font-size: 150%;
    font-family: "Font Awesome 5 free";
    font-weight: bold;
}

/* INIZIO HEADER ----------------------- */
/* ------------------------------------- */
header {
    width: 100%;
    height: 75px;
    background-color: #F5F8FA;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #CBD6E2;
}

header ul {
    line-height: 75px;
}

/* -- parte sx HEADER -- */
header .language {
    width: 50%;
    float: left;
}

a.list-header {
    font-size: 16px;
    padding: 10px 0;
}

a.list-header span {
    padding: 0 10px;
}

.language li:first-child span {
    padding: 0 20px 0 0;
    border-right: 2px solid #CBD6E2;
}

.language i.fa-caret-down {
    color: #7C98B6;
}

/* -- parte dx HEADER -- */
header .log-in {
    width: 50%;
    float: left;
}

header .log-in ul {
    text-align: right;
}

header .log-in li {
    margin-left: 8px;
}

#search-icon {
    color: #47BCCE;
}

header .log-in button {
    font-size: 13px;
    font-weight: normal;
    padding: 10px 25px;
}

#log-in {
    background-color: #fff;
    color: #ff7a59;
    border: 1px solid #ff7a59;
}

button#log-in:hover {
    background-color: #FFF1EE;
}
/* FINE HEADER -------------------------- */
/* ------------------------------------- */

/* INIZIO WRAPPER ----------------------- */
#wrapper {
    position: relative;
    top: 75px;
}


/* INIZIO NAV -------------------------- */
/* ------------------------------------- */

nav.sup {
    height: 84px;
    background-color: white;
}

nav.sup ul {
    line-height: 84px;
}

/* -- parte sx NAV: logo -- */
nav.sup .logo {
    height: 84px;
    width: 106px;
    float: left;
    margin-right: 20px;
    position: relative;
}

nav.sup .logo img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* -- parte dx NAV: menu -- */
nav.sup .menu {
    width: calc(100% - 126px);
    float: left;
}

nav.sup .menu ul {
    text-align: right;
}

a.list-nav {
    font-weight: bold;
    padding: 20px 0;
}

a.list-nav span {
    font-size: 15px;
    padding: 0 16px;
}

a.list-nav span.dropdown::after {
    color: #7C98B6;
}
/* FINE NAV ---------------------------- */
/* ------------------------------------- */


/* INIZIO MAIN -------------------------- */
/* ------------------------------------- */

/* -- parte MAIN: promo -- */
div.promo {
    background-color: #425B76;
    padding: 20px 0;
}

.promo p {
    font-size: 18px;
    line-height: 29px;
    margin: 0 20px;
    color: white;
}

.promo a {
    font-weight: bold;
    text-decoration: underline;
}

.promo a:hover {
    color: #7FD1DE;
}

/* -- parte MAIN: main section -- */
section.main-section {
    background-color: #FFF2EE;
    background-image: url(https://cdn2.hubspot.net/hubfs/53/raw_assets/public/_Web%20Team%20Assets/Website/assets/svg/hero.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    padding: 60px 0 250px;
    border-bottom: 3px solid #33475b;
}

.main-section-box {
    width: 80%;
    max-width: 400px;
}

.main-section-box h1 {
    margin: 23px 0;
}

.main-section-box button {
    margin: 18px 0 28px 0;
}

/* -- parte MAIN: stack section -- */
section.stack {
    padding: 50px 0;
    background-color: #F5F8FA;
}

.stack-box {
    width: 340px;
    height: 460px;
    margin: 0 20px 20px 0;
    float: left;
    background-color: white;
    padding: 30px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 11px #eaf0f6;
}

.stack-box:not(:first-child):hover {
    transform: scale(1.02)
}

div.stack-box:first-child {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
}

.stack-box span.new {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: -5px;
    padding: 4px 4px 4px 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    background-color: #00BDA5;
    border-radius: 10px 5px 5px 10px;
    color: white;
}

.description h4 {
    margin: 10px 0;
    font-size: 22px;
}

.description p {
    margin: 26px 0;
    font-size: 14px;
}

.stack-box .features {
    border-top: 1px solid rgba(153,172,194,0.2);
}

.stack-box .features p {
    padding: 26px 0 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.stack-box .features li {
    display: block;
    padding-bottom: 10px;
    font-size: 12px;
}

.stack-box ul span::before {
    content: "\f058 ";
    color: #FF7A59;
    font-family: "Font Awesome 5 free";
    font-weight: bold;
}

.stack-box button {
    width: 100%;
    height: 50px;
    padding: 0;
    margin-top: 20px;
    line-height: 50px;
    font-size: 15px;
    font-weight: bold;
}

/* -- parte MAIN: community -- */
section.community {
    padding: 110px 0;
    background-color: #01AAB8;
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
    text-align: center;
}

.community .container {
    color: white;
}

.community .community-text {
    width: 70%;
    margin: auto;
}

.community .grip {
    margin-top: 80px;
}

.community .grip::after {
    content: "";
    display: table;
    clear: both;
}

.community .grip-box {
    width: 25%;
    height: 190px;
    float:left;
    border-right: 1px solid white;
    padding: 30px;
}

.grip-box h2 {
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 50px;
    position: relative;
}

h2.plus::after {
    content: '\002B';
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.grip-box p {
    font-size: 15<px;
}

.community .grip-box:nth-child(4n+4) {
    border-right: none;
}

.community .grip-box:nth-child(n+5) {
    border-top: 1px solid white;
}

.community .grip-box div:first-child {
    height: 40px;
    position: relative;
    margin-bottom: 15px;
}

.community .grip-box div:first-child img {
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

/* -- parte MAIN: customers -- */
section.customers {
    padding: 50px 0 0;
    background-color: white;
    height: 200px;
}

.customers .description {
    width: 40%;
    float: left;
}

.customers .description h2 {
    font-size: 40px;
    margin-bottom: 5px;
}

.customers .description p {
    font-size: 19px;
    margin: 0;
}

.customers .logo {
    width: calc(60% - 10px);
    margin-left: 10px;
    float: left;
}

.logo .sup, .logo .inf {
    height: 70px;
}

.customers .logo img {
    float:right;
    width: 110px;
    margin-left: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* -- parte MAIN: final section -- */
section.final-section {
    padding: 120px 0;
}

.final-section::after {
    content: "";
    display: table;
    clear: both;
}

.final-content {
    width: calc(100% - 350px);
    max-width: 500px;
    padding: 0 5px;
    float: left;
}

.final-content button {
    margin: 32px 0 24px;
}

.final-content small {
    width: 100%;
}

.final-img {
    width: 350px;
    float: right;
}

.final-img img {
    width: 100%;
}
/* FINE MAIN -------------------------- */
/* ------------------------------------- */


/* INIZIO FOOTER -------------------------- */
/* ------------------------------------- */
footer {
    background-color: #33475B;
    padding-top: 90px;
}

footer .container {
    color: #cbd6e2;
}

/* -- parte FOOTER: nav -- */
.footer-nav li.title {
    width: 24%;
    vertical-align: top;
}

.footer-nav li.title span {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    color: white;
}

.footer-nav li.title li {
    display: block;
}

.footer-nav a {
    display: inline-block;
    font-size: 14px;
    line-height: 29px;
    color: #cbd6e2;
    padding: 8px 0;
}

.footer-nav a:hover {
    color: #58C6DE;
}

.footer-nav a.dropdown {
    color: white;
}

ul.hidden-list {
    margin-top: 10px;
}

ul.hidden-list a {
    font-size: 12px;
}

/* per il menu a scomparsa */
.hidden-menu ul {
    display: none;
}

.hidden-menu:hover ul {
    display: block;
}

#support-button {
    font-size: 13px;
    font-weight: normal;
    padding: 12px 15px;
    margin: 15px 0;
    background-color: white;
    color: #33475B;
}

button#support-button:hover {
    background-color: #EAF0F6;
}

ul.footer-social::after {
    content: "";
    display: table;
    clear: both;
}

ul.footer-social li {
    line-height: 50px;
    float: right;
}

.footer-social a {
    font-size: 18px;
    padding: 5px;
    margin-left: 5px;
}

/* -- parte FOOTER: languages -- */
footer a:hover {
    color: #58C6DE;
}

.footer-lang {
    padding: 32px 0;
}

.footer-lang ul {
    text-align: center;
}

.footer-lang a {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
}

/* -- parte FOOTER: copyright -- */
div.footer-copy {
    border-top: 1px solid #cbd6e2;
    padding: 32px 0;
}

.footer-copy div {
    width: 50%;
    float: left;
}

div.footer-copy::after {
    content: "";
    display: table;
    clear: both;
}

.footer-copy ul {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.footer-copy a {
    padding: 8px 16px;
}


/* FINE FOOTER -------------------------- */
/* ---------------------------------------- */

/* ICONA CHAT --------------------------- */
/* --------------------------------------- */
#chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* z-index: -1; */
}

#chat .overlay {
    z-index: 2;
}

/* chat robot */
#chat .live-chat {
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

/* div con img robot */
.live-chat div:first-of-type {
    width: 50px;
    height: 50px;
    background-image: url(https://static.hsappstatic.net/bots-ui-app/ex/bot-avatar.jpg);
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* div con simbolo x */
.live-chat div:nth-of-type(2) {
    font-size: 23px;
    color: #7C98B6;
    position: absolute;
    top: 10px;
    right: 10px;
}

.live-chat p {
    line-height: 20px;
    margin-top: 15px;
}

/* icona chat */
#chat .chat-icon {
    width: fit-content;
    font-size: 25px;
    color: white;
    background-color: #425B76;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px rgba(51, 71, 91, 0.1);
    float: right;
}

div.chat-icon:hover {
    box-shadow: 0 0 10px 5px rgba(51, 71, 91, 0.2);
}
