* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    color: #33475B;
}

button {
    background-color: #ff7a59;
    color: white;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #FFBCAC;
}


/* INIZIO HEADER -------------------------- */
header {
    height: 80px;
    background-color: #F5F8FA;
    position: relative;
    border-bottom: 2px solid #cbd6e2;
}

header ul {
    line-height: 80px;
}

header ul li {
    display: inline-block;
}

/* -- parte sx HEADER -- */
header .language {
    width: 50%;
}

a.list-header {
    padding: 10px;
}

div.language li:first-child a {
    border-right: 2px solid #cbd6e2;
}

div.language a {
    color: #33475B;
    text-decoration: none;
}

/* -- parte dx HEADER -- */
header .search {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

header .search ul {
    text-align: right;
}

header .search li {
    margin-left: 8px;
}

#search-icon {
    color: #47BCCE;
}

header .search button {
    font-size: 12px;
    padding: 10px;
}

#log-in {
    background-color: #fff;
    color: #ff7a59;
    border: 1px solid #ff7a59;
}

button#log-in:hover {
    background-color: #FFF1EE;
}
/* FINE HEADER -------------------------- */


/* INIZIO NAV -------------------------- */
nav {
    height: 90px;
    background-color: white;
    position: relative;
}

nav ul {
    line-height: 90px;
}

nav ul li {
    display: inline-block;
}

/* -- parte sx NAV: logo -- */
nav .logo {
    height: 100%;
    width: 100px;
    position: relative;
}

nav .logo img {
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* -- parte dx NAV: menu -- */
nav .menu {
    width: calc(100% - 100px);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

nav .menu ul {
    text-align: right;
}

a.list-nav {
    color: rgb(51,71,91);
    text-decoration: none;
    font-weight: bold;
    padding: 20px 0;
}

a.list-nav span {
    padding: 0 10px;
}

/* non funziona freccia in basso
a.list-nav span.dropdown::after {
    content: "\f0dd";
} */
/* FINE NAV -------------------------- */


/* INIZIO MAIN -------------------------- */
/* -- parte MAIN: promo -- */
section.promo{
    background-color: #425B76;
    padding: 20px;
    color: white;
    line-height: 150%;
}

/* -- parte MAIN: main section -- */
section.main-section {
    padding: 50px 20px;
    background-color: #FFF2EE;
}

.main-section-box {
    /* background-color: red; */
    /* height: 20px; */
    width: 80%;
    max-width: 400px;
}

/* -- parte MAIN: stack section -- */
section.stack {
    padding: 50px 0;
    background-color: white;
    /* height: 200px;
    width: 100%; */
}

.stack::after {
    content: "";
    display: table;
    clear: both;
}

.stack-box {
    width: 200px;
    height: 400px;
    background-color: red;
    margin: 0 10px 10px 5px;
    float: left;
}

/* -- parte MAIN: community -- */
section.community {
    padding: 50px 25px;
    background-color: #01BBA8;
    text-align: center;
}

/* -- parte MAIN: customers -- */
section.customers {
    padding: 50px 0 0;
    background-color: white;
    /* height: 200px; */
}

.customers::after {
    content: "";
    display: table;
    clear: both;
}

.customers > .description {
    width: 30%;
    height: 50px;
    background-color: red;
    margin-left: 5px;
    float: left;
}

.customers > .logo {
    width: calc(70% - 10px);;
    height: 50px;
    background-color: blue;
    margin-left: 5px;
    float: left;
}

/* -- parte MAIN: final section -- */
section.final-section {
    padding: 50px 0;
}

.final-section::after {
    content: "";
    display: table;
    clear: both;
}

.final-content {
    width: 30%;
    padding: 0 5px;
    float: left;
}

.final-img {
    width: 70%;
    height: 50px;
    background-color: blue;
    float: left;
}
/* FINE MAIN -------------------------- */


/* INIZIO FOOTER -------------------------- */
footer {
    height: 200px;
    background-color: #33475B;
}

/* -- parte FOOTER: nav -- */

/* -- parte FOOTER: languages -- */

/* -- parte FOOTER: copyright -- */


/* FINE FOOTER -------------------------- */
